@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .py-navbar-item {
        @apply py-6
    }

    .pt-navbar-item {
        @apply pt-6
    }

    .pb-navbar-item {
        @apply pb-6
    }

    .px-navbar-item {
        @apply px-3
    }

    .pl-navbar-item {
        @apply pl-3
    }

    .pr-navbar-item {
        @apply pr-3
    }
}

@layer components {
    .btn-primary {
        @apply text-white bg-purple-600 py-2 px-4 rounded shadow-md hover:bg-purple-700 active:bg-purple-800 transition-colors;
    }
}

body {
    background-color: #e5e7eb;
    /*font-family: 'San Francisco Pro Text', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

.wysiwyg-content h3,
.wysiwyg-content h4 {
    font-weight: 600;
    margin-top: 1rem;
}

.wysiwyg-content table > tbody > tr > td {
    padding: 0.25rem 0.125rem;
}

.wysiwyg-content table > tbody > tr > td:first-child {
    font-weight: bold;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    padding: 0.5rem;
}

.table-sm > tbody > tr > td,
.table-sm > thead > tr > th {
    padding: 0.25rem;
}

.relative:hover [data-te-dropdown-menu-ref] {
    display: block;
}

.absolute[data-te-dropdown-menu-ref] {
    width: 100%;
}


.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header.h16 {
    height: 5rem;
    border: 3px solid red;

}

header.h12 {
    height: 4rem;

}


footer {
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel {
    margin-top: 85px;
}

.cart {
    margin-top: 80px;
}

.card_item {
    margin-top: 90px;
}
.logo a{
    font-size: 30px;
    font-weight: 700;
    color: #1b1b1b;
    margin-top: -6px;
}